{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>DevFolio | {% block title %}{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>

    <!-- Favicons -->
    <link href="{% static 'blog/img/favicon.png' %}" rel="icon"/>
    <link href="{% static 'blog/img/apple-touch-icon.png' %}" rel="apple-touch-icon"/>

    <!-- Bootstrap CSS File -->
    <link href="{% static 'blog/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- Libraries CSS Files -->
    {% block css %}{% endblock css %}
    <link href="{% static 'blog/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'blog/lib/animate/animate.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'blog/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'blog/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'blog/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet"/>

    <!-- Main Stylesheet File -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet"/>
    <!-- rtl style -->
    <link rel="stylesheet" href="{% static 'blog/css/rtl.css' %}"/>

    <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body style="background-color: #070606">

<!--/ Nav Star /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        {% block nav_1 %}
        {% endblock nav_1 %}
        <button class="navbar-toggler collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#navbarDefault"
                aria-controls="navbarDefault"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        {% block nav_2 %}
        {% endblock nav_2 %}
    </div>
</nav>
<!--/ Nav End /-->

<!--/ Intro Skew Star /-->
{% block Skew %}
{% endblock Skew %}
<!--/ Intro Skew End /-->

<!--/ Section About Star /-->
{% block About %}
{% endblock About %}
<!--/ Section About End /-->

<!--/ Section Services Star /-->
{% block Services %}
{% endblock Services %}
<!--/ Section Services End /-->

<!--/ Section Reputation Star /-->
{% block Reputation %}
{% endblock Reputation %}
<!--/ Section Reputation End /-->

<!--/ Section Portfolio Star /-->
{% block Portfolio %}
{% endblock Portfolio %}
<!--/ Section Portfolio End /-->

<!--/ Section Testimonials Star /-->
{% block Testimonials %}
{% endblock Testimonials %}
<!--/ Section Testimonials End /-->

<!--/ Section Blog Star /-->
{% block Blog %}
{% endblock Blog %}
<!--/ Section Blog End /-->

<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route"
         style="background-image: url({% static 'blog/img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    {% block footer %}
    {% endblock footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright text-center">
                            &copy; کپی رایت <strong>DevFolio</strong>
                        </p>
                        <div class="credits">
                            <!--
                            All the links in the footer should remain intact.
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                          -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--/ Section Contact-footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>


<!-- JavaScript Libraries -->
{% block js %}{% endblock js %}
<script src="{% static 'blog/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'blog/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'blog/lib/popper/popper.min.js' %}"></script>
<script src="{% static 'blog/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'blog/lib/counterup/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'blog/lib/counterup/jquery.counterup.js' %}"></script>
<script src="{% static 'blog/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'blog/lib/lightbox/js/lightbox.min.js' %}"></script>
<script src="{% static 'blog/lib/typed/typed.min.js' %}"></script>
<!-- Contact Form JavaScript File -->
{#    <script src="{% static 'blog/contactform/contactform.js' %}"></script>#}

<!-- Template Main Javascript File -->
<script src="{% static 'blog/js/main.js' %}"></script>

</body>
</html>