{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Archive{% endblock title %}

<!--/ Nav Star /-->
{% block nav_1 %}
    <a class="navbar-brand js-scroll" href="">DevFolio</a>
{% endblock nav_1 %}

{% block nav_2 %}
    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll active" href="{% url 'IndexView' %}">خانه</a>
            </li>
        </ul>
    </div>
{% endblock nav_2 %}
<!--/ Nav End /-->

<!--/ Intro Skew Star /-->
{% block Skew %}
    <div class="intro intro-single route bg-image"
         style="background-image: url({% static 'blog/img/overlay-bg.jpg' %})">
        <div class="overlay-mf"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <!--/ Start /-->
                    <div class="sidebar-search">
                        <div class="sidebar-content">
                            <form action="" method="get">
                                <div class="input-group">
                                    {{ search_form.search_field }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary btn-search" type="submit">
                                            <span class="ion-android-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!--/ End /-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Skew %}
<!--/ Intro Skew End /-->

<!--/ Section Blog Star /-->
{% block Blog %}
    <section id="blog" class="blog-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a" style="color: white">
                            مقالات منتشر شده در این ماه
                        </h3>
                        <p class="subtitle-a text-center" style="color: white">
                            مقالات حوزه کامپیوتر
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if search_response %}
                    {% for article in search_response %}
                        <div class="col-md-4">
                            <div class="card card-blog" style="background-color: #000000">
                                <div class="card-img">
                                    <a href="{% url 'BlogSingleView' article.pk %}">
                                        <img src="{{ article.cover.url }}" alt="" class="img-fluid"/>
                                    </a>
                                </div>
                                <div class="card-body" style="color: white">
                                    <div class="card-category-box">
                                        <div class="card-category">
                                            <h6 class="category">{{ article.category.title }}</h6>
                                        </div>
                                    </div>
                                    <h3 class="card-title">
                                        <a href="{% url 'BlogSingleView' article.pk %}"
                                           style="color: white">{{ article.title }}</a>
                                    </h3>
                                    <p class="card-description" style="color: white">
                                        {{ article.short_description|safe }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="post-author">
                                        <a href="#">
                                            <img src="{{ article.author.avatar.url }}"
                                                 alt=""
                                                 class="avatar rounded-circle"/>
                                            <span class="author"
                                                  style="color: white">{{ article.author.user.first_name }}&nbsp{{ article.author.user.last_name }}</span>
                                        </a>
                                    </div>
                                    <div class="post-date" style="color: white">
                                        <span class="ion-ios-clock-outline"></span>{{ article.time_to_read }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor all_archive_articles %}
                {% else %}
                    <h1 style="color: red;">هیچ مقاله ای در این ماه منتشر نشده است</h1>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock Blog %}
<!--/ Section Blog End /-->
