{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}

<!--/ Nav Star /-->
{% block nav_1 %}
    <a class="navbar-brand js-scroll" href="{% url 'BlogSingleView' specific_article.pk %}">DevFolio</a>
{% endblock nav_1 %}

{% block nav_2 %}
    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll active" href="{% url 'IndexView' %}">خانه</a>
            </li>
        </ul>
    </div>
{% endblock nav_2 %}>
<!--/ Nav End /-->

<!--/ Intro Skew Star /-->
{% block Skew %}
    <div class="intro intro-single route bg-image"
         style="background-image: url({% static 'blog/img/overlay-bg.jpg' %})">
        <div class="overlay-mf"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <h2 class="intro-title mb-4">وبلاگ</h2>
                    <ol class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item">
                            <a href="{% url 'BlogSingleView' specific_article.pk %}">وبلاگ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'IndexView' %}">خانه</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock Skew %}
<!--/ Intro Skew End /-->

<!--/ Section Blog Star /-->
{% block Blog %}
    <section class="blog-wrapper sect-pt4" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post-box" style="background-color: #070606">
                        <div class="post-thumb">
                            <img style="width: 1200px;height: auto" src="{{ specific_article.cover.url }}"
                                 class="img-fluid" alt=""/>
                        </div>
                        <div class="post-meta">
                            <h1 class="article-title" style="color: white">
                                {{ specific_article.title }}
                            </h1>
                            <ul>
                                <li>
                                    <span class="ion-ios-person"></span>
                                    <a href="{% url 'IndexView' %}"
                                       style="color: white">{{ specific_article.author.user.first_name }} {{ specific_article.author.user.last_name }}</a>
                                </li>
                                <li>
                                    <span class="ion-pricetag"></span>
                                    <a href="#">{{ specific_article.category.title }}</a>
                                </li>
                                <li>
                                    <span class="ion-chatbox"></span>
                                    <a href="#comment">{{ specific_article.commentus_set.count }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="article-content" style="color: white">
                            <p>{{ specific_article.content|safe }}</p>
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    {{ specific_article.short_description|safe }}
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div id="comment" class="box-comments" style="background-color: #070606">
                        <div class="title-box-2">
                            <h4 class="title-comments title-left" style="color: white">نظرات
                                ({{ specific_article.commentus_set.count }})</h4>
                        </div>
                        <ul class="list-comments">
                            {% for comment in specific_comment %}
                                <li>
                                    <div class="comment-avatar">
                                        {% if comment.gender == 'male' %}
                                            <img src="{% static 'blog/img/testimonial-2.jpg' %}" alt=""/>
                                        {% endif %}
                                        {% if comment.gender == 'female' %}
                                            <img src="{% static 'blog/img/testimonial-4.jpg' %}" alt=""/>
                                        {% endif %}
                                    </div>
                                    <div class="comment-details" style="color: white">
                                        <h4 class="comment-author" style="color: white">{{ comment.name }}</h4>
                                        <span style="color: white">{{ comment.created_at|date:'F , d, Y' }}</span>
                                        <p style="color: white">{{ comment.content|safe }}</p>
                                        <a href="#">پاسخ</a>
                                    </div>
                                </li>
                            {% empty %}
                                <h4>نظری وجود ندارد.<br>اولین نفری باشید که نظر می دهید.</h4>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-comments" style="background-color: #070606">
                        <div class="title-box-2">
                            <h3 class="title-left" style="color: white">
                                گذاشتن پاسخ
                            </h3>
                        </div>
                        <!--/ form for create comment /-->
                        <form class="form-mf" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        {{ comment_form.name }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        {{ comment_form.email }}
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="form-group">
                                        {{ comment_form.media }}
                                        {{ comment_form.content|safe }}
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="form-group">
                                        {{ comment_form.gender }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="button button-a button-big button-rouded"
                                            style="color: white">
                                        ارسال پیام
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget-sidebar sidebar-search" style="background-color: #070606">
                        <h5 class="sidebar-title" style="color: white">جستجو</h5>
                        <div class="sidebar-content">
                            <form action="" method="get">
                                <div class="input-group">
                                    {{ search_form.search_field }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary btn-search" type="submit">
                                            <span class="ion-android-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget-sidebar" style="background-color: #070606">
                        <h5 class="sidebar-title" style="color: white">پست های اخیر</h5>
                        <div class="sidebar-content">
                            <ul class="list-sidebar">
                                {% for post in all_articles %}
                                    <li>
                                        <a href="{% url 'BlogSingleView' post.pk %}"
                                           style="color: white">{{ post.title }}</a>
                                    </li>
                                {% endfor all_articles %}
                            </ul>
                        </div>
                    </div>
                    <div class="widget-sidebar" style="background-color: #070606">
                        <h5 class="sidebar-title" style="color: white">آرشیو</h5>
                        <div class="sidebar-content">
                            <ul class="list-sidebar">
                                <li>
                                    <a href="{% url 'ArchiveMonth' 1 %}" style="color: white">2020 January</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 2 %}" style="color: white">2020 February</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 3 %}" style="color: white">2020 March</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 4 %}" style="color: white">2020 April</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 5 %}" style="color: white">2020 May</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 6 %}" style="color: white">2020 June</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 7 %}" style="color: white">2020 July</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 8 %}" style="color: white">2020 August</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 9 %}" style="color: white">2020 September</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 10 %}" style="color: white">2020 October</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 11 %}" style="color: white">2020 November</a>
                                </li>
                                <li>
                                    <a href="{% url 'ArchiveMonth' 12 %}" style="color: white">2020 December</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-sidebar widget-tags" style="background-color: #070606">
                        <h5 class="sidebar-title" style="color: white">تگ ها</h5>
                        <div class="sidebar-content">
                            <ul>
                                <li>
                                    <a href="#">وب</a>
                                </li>
                                <li>
                                    <a href="#">طراحی</a>
                                </li>
                                <li>
                                    <a href="#">سفر</a>
                                </li>
                                <li>
                                    <a href="#">فتوشاپ</a>
                                </li>
                                <li>
                                    <a href="#">طراحی سایت</a>
                                </li>
                                <li>
                                    <a href="#">جاوا اسکریپت</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock Blog %}
<!--/ Section Blog End /-->
