{% extends 'base.html' %}
{% load static %}
{% block title %}Index{% endblock title %}

<!--/ Nav Star /-->
{% block nav_1 %}
    <a class="navbar-brand js-scroll" href="">DevFolio</a>
{% endblock nav_1 %}

{% block nav_2 %}
    <div class="navbar-collapse collapse justify-content-end"
         id="navbarDefault">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll" href="#contact">تماس با من</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll" href="#blog">وبلاگ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll" href="#work">کار ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll" href="#service">سرویس ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll" href="#about"> درباره من</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll active" href="#home">خانه</a>
            </li>
        </ul>
    </div>
{% endblock nav_2 %}
<!--/ Nav End /-->

<!--/ Intro Skew Star /-->
{% block Skew %}
    <div id="home"
         class="intro route bg-image"
         style="background-image: url({% static 'blog/img/intro-bg.jpg' %})">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <!-- <p class="display-6 color-d">Hello, world!</p> -->
                    <h1 class="intro-title mb-4">من یک مهندس هستم</h1>
                    <p class="intro-subtitle">
                        <span class="text-slider-items">توسعه دهنده اندروید با جاوا و سی پلاس پلاس,توسعه دهنده وب(سمت سرور) با پایتون</span>
                        <strong class="text-slider"></strong>
                    </p>
                    <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
                </div>
            </div>
        </div>
    </div>
{% endblock Skew %}
<!--/ Intro Skew End /-->

<!--/ Section About Star /-->
{% block About %}
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full" style="background-color: #070606;color: white">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img src="{{ about_Me.userprofile.avatar.url }}"
                                                 class="img-fluid rounded b-shadow-a"
                                                 alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p>
                                                <span class="title-s" style="color: white">نام : </span>
                                                <span>{{ about_Me.userprofile.user.first_name }}</span>
                                            </p>
                                            <p>
                                                <br/>
                                                <span class="title-s" style="color: white"> ایمیل : &nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                                <span>{{ about_Me.userprofile.user.email }}</span>
                                            </p>
                                            <p>
                                                <span class="title-s" style="color: white">تلفن : </span>
                                                <span>{{ about_Me.phoneNumber }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p class="title-s" style="color: white">مهارت ها</p>
                                    {% for skill in my_skills %}
                                        <span style="color: white">{{ skill.name }}</span>
                                        <span class="pull-left" style="color: white">{{ skill.percentages }}%</span>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                 role="progressbar"
                                                 style="width: {{ skill.percentages }}%;"
                                                 aria-valuenow="{{ skill.percentages }}"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">
                                            </div>
                                        </div>
                                    {% endfor my_skills %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left" style="color: white">
                                            درباره من
                                        </h5>
                                    </div>
                                    <p class="lead">{{ about_Me.description|safe }}
                                        <br/>
                                        <br/>
                                        <br/>
                                    <p>
                                        علاقه و تخصص من بیشتر برنامه نویسی هست و سعی می‌کنم حداقل توی تخصص خودم به
                                        روز
                                        باشم.<br/><br>
                                        به طور حرفه ای در دو زمینه اندروید(اندروید استودیو/جاوا و کیوت/سی پلاس پلاس)
                                        و
                                        بک اند(جنگو/پایتون) فعالیت دارم.<br/><br>
                                        برنامه نویسی را از بعد از ورود به دانشگاه شروع کردم و الان دانشجوی ترم پنجم
                                        دانشگاه صنعتی ام و دوسالی هست که دراین زمینه فعالیت دارم.<br/><br>
                                        زبان های تحت کاربر درحدی که کارم راه بیفته بلدم.<br/><br>
                                        شش ماهی هست پایتون کار میکنم و دو ماهی میشه که سمت سرور با فریمورک جنگو
                                        کارمیکنم.<br/><br>
                                        سی و سی پلاس پلاس از ترم اول دانشگاه شروع کردم و دوسالی میشه دارم باهاش کار
                                        میکنم و چندماهی هم هست برنامه نویسی دسکتاپ و اندروید با فریمورک کیوت انجام
                                        میدم.<br/><br>
                                        جاوا از ترم دوم دانشگاه شروع کردم و ی سال بیشتره که باهاش کارمیکنم و چندماهی
                                        میشه
                                        دارم اندرویداستودیو کار میکنم.<br/><br>
                                        با <b> گیت</b> و <b> گیت هاب</b> و <b>گیت لب</b> زیاد سروکار دارم.<br/><br>
                                        با <b>پی اچ پی</b> آشنا هستم و چندماهی با سی ام اس <b>وردپرس</b> سایت طراحی
                                        می
                                        کردم.<br/><br>
                                        تا حدی با<b>داکر</b> و <b> داکرهابم</b> آشنایی دارم.<br/><br>
                                        البته درزمینه شبکه و امنیت هم دستی درکار دارم<br/>
                                        به خصوص در دو زمینه:<br/>
                                        Penetration Testing & Ethical Hacking<br/><br>
                                        ناگفته نمونه که درحال مطالع و تحقیق در زمینه الگوریتم ها و هوش مصنوعی هم
                                        هستم.<br/>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock About %}
<!--/ Section About End /-->

<!--/ Section Services Star /-->
{% block Services %}
    <section id="service" class="services-mf route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a" style="color: white">
                            سرویس ها
                        </h3>
                        <p class="subtitle-a text-center" style="color: white">
                            خدماتی که توسط من ارایه می شود
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in my_services %}
                    <div class="col-md-4">
                        <div class="service-box" style="background-color: #000000">
                            <div class="service-ico">
                                    <span class="ico-circle" style="color: white;"><i
                                            class="{{ service.icon }}"></i></span>
                            </div>
                            <div class="service-content">
                                <h2 class="s-title" style="color: white;">{{ service.name }}</h2>
                                <p class="s-description text-center" style="color: white;">
                                    {{ service.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor my_services %}
            </div>
        </div>
    </section>
{% endblock Services %}
<!--/ Section Services End /-->

<!--/ Section Reputation Star /-->
{% block Reputation %}
    <div class="section-counter paralax-mf bg-image"
         style="background-image: url({% static 'blog/img/counters-bg.jpg' %})">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                {% for rep in my_reputations %}
                    <div class="col-sm-3 col-lg-3">
                        <div class="counter-box pt-4 pt-md-0">
                            <div class="counter-ico">
                                <span class="ico-circle"><i class="{{ rep.icon }}"></i></span>
                            </div>
                            <div class="counter-num">
                                <p class="counter">{{ rep.number }}</p>
                                <span class="counter-text">{{ rep.name }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor my_reputations %}
            </div>
        </div>
    </div>
{% endblock Reputation %}
<!--/ Section Reputation End /-->

<!--/ Section Portfolio Star /-->
{% block Portfolio %}
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a" style="color: white">
                            نمونه کارها
                        </h3>
                        <p class="subtitle-a text-center" style="color: white">
                            جهت مشاهده نمونه کارها آنها را در صفحه ای جدید باز کنید
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for project in my_projects %}
                    <div class="col-md-4">
                        <div class="work-box" style="background-color: #000000">
                            <a href="{{ project.url }}" data-lightbox="gallery-mf" target="_self">
                                <div class="work-img">
                                    <img style="width: 300px;height: 300px" src="{{ project.img }}" alt=""
                                         class="img-fluid"/>
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h2 class="w-title" style="color: white">{{ project.title }}</h2>
                                            <div class="w-more">
                                                <span class="w-ctegory">{{ project.category }}</span> /
                                                <span class="w-date"
                                                      style="color: white">{{ project.done_at.date|date:'F d, Y' }}</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="w-like">
                                                <span class="ion-ios-plus-outline"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor my_projects %}
            </div>
        </div>
    </section>
{% endblock Portfolio %}
<!--/ Section Portfolio End /-->

<!--/ Section Testimonials Star /-->
{% block Testimonials %}
    <div class="testimonials paralax-mf bg-image"
         style="background-image: url({% static 'blog/img/overlay-bg.jpg' %})">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial-mf" class="owl-carousel owl-theme">
                        {% for testimonial in my_testimonials %}
                            <div class="testimonial-box">
                                <div class="author-test">
                                    <img src="{{ testimonial.userprofile.avatar.url }}"
                                         style="height: 400px;width: 400px"
                                         alt=""
                                         class="rounded-circle b-shadow-a"/>
                                    <span class="author">{{ testimonial.userprofile.user.first_name }}</span>
                                </div>
                                <div class="content-test">
                                    <p class="description lead">
                                        {{ testimonial.description }}
                                    </p>
                                    <span class="comit"><i class="fa fa-quote-right"></i></span>
                                </div>
                            </div>
                        {% endfor my_testimonials %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Testimonials %}
<!--/ Section Testimonials End /-->

<!--/ Section Blog Star /-->
{% block Blog %}
    <section id="blog" class="blog-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a" style="color: white">
                            وبلاگ
                        </h3>
                        <p class="subtitle-a text-center" style="color: white">
                            مقالات تخصصی حوزه کامپیوتر
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for article in all_articles %}
                    <div class="col-md-4">
                        <div class="card card-blog" style="background-color: #000000">
                            <div class="card-img">
                                <a href="{% url 'BlogSingleView' article.pk %}">
                                    <img src="{{ article.cover.url }}" alt="" class="img-fluid"/>
                                </a>
                            </div>
                            <div class="card-body" style="color: white">
                                <div class="card-category-box">
                                    <div class="card-category">
                                        <h6 class="category">{{ article.category.title }}</h6>
                                    </div>
                                </div>
                                <h3 class="card-title">
                                    <a href="{% url 'BlogSingleView' article.pk %}"
                                       style="color: white">{{ article.title }}</a>
                                </h3>
                                <p class="card-description" style="color: white">
                                    {{ article.short_description|safe }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="post-author">
                                    <a href="#about">
                                        <img src="{{ article.author.avatar.url }}"
                                             alt=""
                                             class="avatar rounded-circle"/>
                                        <span class="author"
                                              style="color: white">{{ article.author.user.first_name }}&nbsp{{ article.author.user.last_name }}</span>
                                    </a>
                                </div>
                                <div class="post-date" style="color: white">
                                    <span class="ion-ios-clock-outline"></span>{{ article.time_to_read }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor all_articles %}
            </div>
        </div>
    </section>
{% endblock Blog %}
<!--/ Section Blog End /-->

<!--/ Section Contact-Footer Star /-->
{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full" style="background-color: #000000">
                        <div class="row" style="color: white">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left" style="color: white">
                                        برای من پیام ارسال کنید
                                    </h5>
                                </div>
                                <div>
                                    <form action="" method="post" role="form" class="contactForm">
                                        {% csrf_token %}
                                        <div id="sendmessage" style="color: white">
                                            پیام شما با موفقیت ارسال شد
                                        </div>
                                        <div id="errormessage"></div>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    {{ form.name }}
                                                    {#                                                        <input type="text" name="name" class="form-control" id="name"#}
                                                    {#                                                               placeholder="نام شما" data-rule="minlen:4" #}
                                                    {#                                                               data-msg="لطفا بیشتر از 4 کاراکتر وارد کنید"/>#}
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    {{ form.email }}
                                                    {#                                                        <input type="email" class="form-control" name="email" id="email"#}
                                                    {#                                                               placeholder="ایمیل شما" data-rule="email"#}
                                                    {#                                                               data-msg="لطفا ایمیل معتبر وارد کنید"/>#}
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    {{ form.subject }}
                                                    {#                                                        <input type="text" class="form-control" name="subject" id="subject"#}
                                                    {#                                                               placeholder="موضوع کنید" data-rule="minlen:4"#}
                                                    {#                                                               data-msg="لطفا بیشتر از 8 کاراکتر وارد کنید"/>#}
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    {{ form.media }}
                                                    {{ form.content|safe }}
                                                    {#                                                      <textarea class="form-control" name="message" rows="5"#}
                                                    {#                                                                data-rule="required"#}
                                                    {#                                                                data-msg="پیام خود را برا ی ما بنویسید"#}
                                                    {#                                                                placeholder="پیام">#}
                                                    {#                                                      </textarea>#}
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit"
                                                        class="button button-a button-big button-rouded">
                                                    ارسال
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left" style="color: white">
                                        با من در تماس باشید
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        راه های ارتباطی با من
                                    </p>
                                    <ul class="list-ico">
                                        <li>
                                            <span class="ion-ios-location"></span> ایران -- اصفهان -- خمینی شهر
                                        </li>
                                        <li>
                                            <span class="ion-ios-telephone"></span> {{ about_Me.phoneNumber }}
                                        </li>
                                        <li>
                                            <span class="ion-email"></span> {{ about_Me.userprofile.user.email }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul>
                                        <li>
                                            <a href="https://m.facebook.com/pooria.tavana">
                                                <span class="ico-circle" style="color: white">
                                                    <i class="ion-social-facebook"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/pooria_19_99/">
                                                    <span class="ico-circle" style="color: white">
                                                        <i class="ion-social-instagram"></i>
                                                    </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/Pooria9731?s=09">
                                                    <span class="ico-circle" style="color: white">
                                                        <i class="ion-social-twitter"></i>
                                                    </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                    <span class="ico-circle">
                                                        <i class="ion-social-pinterest"></i>
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock footer %}
<!--/ Section Contact-footer End /-->